<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>App</title>
<link rel="stylesheet" type="text/css" href="/static/style.css">
<script src="/static/app.js"></script>
</head>
<body>

<div class="nav-bar">
  <a href="/ui/analysis">분석 실행</a>
  <a href="/ui/result">분석 결과</a>
  <a href="/ui/prescribe">처방 입력</a>
  <a href="/ui/prescribe_view">처방 조회</a>
  <a href="/ui/customer">고객 정보</a>
</div>

<div class="main-container">
  {% block content %}{% endblock %}
</div>

</body>
</html>
